{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Wrap all page content here -->
<div id="wrap">

    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><a href="#" title="ROCeteer"><strong>ROC</strong>eteer</a>
                        <p class="lead">Boost your success.</p></h1>
                </div>
                <div class="col-sm-6"><br>
                    <div class="pull-right  hidden-xs">
                        <a href="http://www.roceteer.com"><img
                                src="http://www.iconsdb.com/icons/download/white/rocket-128.gif"></a>
                    </div>
                </div>
            </div>
        </div>
        <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css"/>
    </header>


    <!-- Fixed navbar -->
    <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-justified">
                    <li><a href="#">Home</a></li>
                    <li><a href="#section2">FAQ</a></li>
                    <li><a href="#section3">JOIN</a></li>
                    <li class="active"><a href="#section1"><strong>Welcome</strong></a></li>
                    <li><a href="#section4">About</a></li>
                    <li><a href="#section5">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </div><!--/.navbar -->

    <!-- Begin page content -->
    <div class="divider" id="section1"></div>

    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-12 text-center"><img src="http://www.iconsdb.com/icons/download/black/rocket-256.png">
            </div>
            <div class="page-header text-center">
                <h1>Welcome to ROCeteer.</h1>
            </div>

            <p class="lead text-center">
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.
            </p>
            <p class="text-center">
                A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                paradisematic country, in which roasted parts of sentences fly into your mouth.

            </p>
        </div>
    </div>

    <div class="divider" id="section2"></div>

    <section class="bg-1">
        <div class="col-sm-6 col-sm-offset-3 text-center"><h5>FAQ</h5></div>
    </section>

    <div class="divider"></div>

    <div class="container" id="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                            <li data-target="#quote-carousel" data-slide-to="3"></li>
                            <li data-target="#quote-carousel" data-slide-to="4"></li>
                            <li data-target="#quote-carousel" data-slide-to="5"></li>
                        </ol>

                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">

                            <!-- Quote 1 -->
                            <div class="item active">

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1>Frequently Asked Questions</h1>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <p>Even the all-powerful Pointing has no control about the blind texts it is an
                                            almost unorthographic life One day however a small line of blind text by the
                                            name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Quote 2 -->
                            <div class="item">

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1>This is a Question</h1>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen.</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Quote 3 -->
                            <div class="item">

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1>This is also a question</h1>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen.
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- Quote 4 -->
                            <div class="item">

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1>This too is a question</h1>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen. </p>
                                    </div>
                                </div>

                            </div>
                            <!-- Quote 4 -->
                            <div class="item">

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1>And another Question</h1>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen. </p>
                                    </div>
                                </div>

                            </div>
                            <!-- Quote 5 -->
                            <div class="item">

                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <h1>Question, Yup.</h1>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>The Big Oxmox advised her not to do so, because there were thousands of bad
                                            Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
                                            didn’t listen. </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                                class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
                                class="fa fa-chevron-right"></i></a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<div class="divider"></div>

<section class="bg-3" id="section4">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Leverage
        Snippets &amp; Examples</h2></div>
</section>


<div class="continer bg-4">
    <div class="row">
        <div class="col-sm-4 col-xs-6">

            <div class="panel panel-default">
                <div><img src="//placehold.it/450X250/565656/eee" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Hacker News</p>
                    <p>120k Followers, 900 Posts</p>

                    <p>
                        <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg"
                             width="28px" height="28px">
                    </p>
                </div>
            </div><!--/panel-->
        </div><!--/col-->

        <div class="col-sm-4 col-xs-6">

            <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="//placehold.it/450X250/ffcc33/444" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Bootstrap Templates</p>
                    <p>902 Followers, 88 Posts</p>

                    <p>
                        <img src="https://lh5.googleusercontent.com/-AQznZjgfM3E/AAAAAAAAAAI/AAAAAAAAABA/WEPOnkQS_20/s28-c-k-no/photo.jpg"
                             width="28px" height="28px">
                    </p>
                </div>
            </div><!--/panel-->
        </div><!--/col-->

        <div class="col-sm-4 col-xs-6">

            <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="//placehold.it/450X250/f16251/444" class="img-responsive"></div>
                <div class="panel-body">
                    <p class="lead">Social Media</p>
                    <p>19k Followers, 789 Posts</p>

                    <p>
                        <img src="https://lh4.googleusercontent.com/-eSs1F2O7N1A/AAAAAAAAAAI/AAAAAAAAAAA/caHwQFv2RqI/s28-c-k-no/photo.jpg"
                             width="28px" height="28px">
                        <img src="https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg"
                             width="28px" height="28px">
                    </p>
                </div>
            </div><!--/panel-->


        </div><!--/container-->

        <div class="divider" id="section5"></div>

        <div class="row">

            <h1 class="text-center">Where are we?</h1>

            <div id="map-canvas"></div>

            <hr>

            <div class="col-sm-8">

                <div class="row form-group">
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                               required="">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="middleName" name="firstName"
                               placeholder="Middle Name" required="">
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                               required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-5">
                        <input type="email" class="form-control" name="email" placeholder="Email" required="">
                    </div>
                    <div class="col-xs-5">
                        <input type="email" class="form-control" name="phone" placeholder="Phone" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-10">
                        <input type="homepage" class="form-control" placeholder="Website URL" required="">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-10">
                        <button class="btn btn-default pull-right">Contact Us</button>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 pull-right">

                <address>
                    <strong>Somewhere</strong><br>
                    Over the Rainbow<br>
                    WayUpHigh, NY 10101<br>
                    P: (123) 456-7890
                </address>

                <address>
                    <strong>Email Us</strong><br>
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>

        </div><!--/row-->


    </div>


    <div id="push"></div>
</div>
<footer id="footer">
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span3">
        </div>
        <div class="span3">
        </div>
    </div>
</footer>
{% endblock %}